*{
    padding: 0px;
    margin: 0px;
}

:root {
    --small-font: 15px;
    --big-font: 4rem;
    --primary: linear-gradient(-45deg, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--Very-Light-Grayish-Blue);
    background-image: url('./images/bg-bottom.svg'),url('./images/bg-top.svg');
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    font-family: Montserrat;
    font-weight: 700;
    gap: 2rem;
}

#heading{
    padding: 1rem;
    margin: 1rem;
    color: var(--Dark-Grayish-Blue);
}

#toogle{
    display: flex;
    color: var(--Grayish-Blue);
}

.subItem{
    margin: 1rem 1rem 3rem 1rem;
}

#subTypes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.priceList > li{
    list-style: none;
    text-align: centre;
    vertical-align: middle;
    padding: 1.2rem 2.4rem 1.2rem 2.4rem;
    
}

.priceList{
    display: flex;
    border-radius: 1rem;
    background-color: var(--primary);
    margin: 2rem 1rem 2rem 1rem;
    text-align: center;
    padding: 2rem;
    font-size: var(--small-font);
    box-shadow: 0px 0px 50px 2px var(--Light-Grayish-Blue);
    color: var(--Dark-Grayish-Blue);
    flex-direction: column;
}

.price{
    font-size: var(--big-font);
    border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.detail{
    border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.learnMore{
    background: var(--primary);
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:var(--Very-Light-Grayish-Blue)
}

@media only screen and (min-width: 1440px){
    #subscriptionTypes{
        display:flex;
    }

    .priceList>li{
        padding: 1vw 3vw 1vw 3vw;
    }

    #container{
        justify-content: center;
        padding: 4rem;
    }

    .priceList{
        background: var(--white);
        margin: 0rem 1rem 1rem 1rem;
        padding: 4rem 2rem 4rem 2rem;
        color:var(--Very-Light-Grayish-Blue);
        color: var(--Dark-Grayish-Blue);
    }
    
    .priceList:hover{
        background: var(--primary);
        color: var(--Dark-Grayish-Blue);
    }

    .priceList:hover > .learnMore{
        background: white;
        color: var(--Dark-Grayish-Blue);
    }

}